@import '../../styles/variables.scss';
.schedule {
  margin: 0 5px;
  border: 2px solid $border-color-grey;
  border-radius: 5px;
  min-width: 2185px;
  display: grid;
}
.scroll {
  overflow-x: scroll;
}
