@import '../../styles/variables.scss';
.schedule {
  margin: 0 10px;
  border: 2px solid $outer-border-color;
  border-radius: 5px;
  min-width: 2440px;
  display: grid;
}
.scroll {
  overflow-x: scroll;
  overflow-y: scroll;
}
