@import '../../styles/variables.scss';

.week__navigator {
  display: flex;
  align-items: center;
  border: solid 2px $outer-border-color;
  border-radius: 15px;
  height: 30px;
  width: 280px;
}

.weekCalendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  font-size: 12px;
  height: 32px;
  
}

.littleCalendar {
  padding-left: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  height: 22px;
  width: 22px;
}

