@import '../../styles/variables.scss';

.week__navigator {
  display: flex;
  align-items: center;
  border: solid 2px $border-color-grey;
  border-radius: 15px;
  height: 35px;
  width: 320px;

  
  .left__navigator {
    margin: 0px;
    border-right: solid 2px $border-color-grey;
    border-radius: 15px 0 0 15px;
  }
}

.weekCalendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  font-family: cursive;
  font-size: 12px;
  height: 32px;
  
  .weekCalendar__icon {
    font-size: 15px;
  }
}

.littleCalendar {
  padding-left: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  height: 22px;
  width: 22px;
}

#weekdates{
  display: flex;
  flex-direction: column;
  width: 140px;
  justify-items: flex-start;
  margin-top: 0px;
  border-left: 105px;
}