@import '../../styles/variables.scss';

.secondary__navbar {
  font-family: $font-family;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 27px 0 11px;

  .icon__secondary_navbar {
    font-size: 1.5em;
  }

  .week__navigator {
    justify-self: center;
    right: 40% ;
    height: 28px;
    justify-content: center;
  }

  .btn {
    font-size: 1em;
    color: #717171;
    background-color: yellow;
    &:hover {
      opacity: 0.8;
    }
  }

  .week_nav {
    justify-self: center;
  }

  .isPublished {
    color: #f5f5f5;
    background-color: #02bb02;
    &:hover {
      opacity: 0.8;
    }
  }
      .left__secondary_navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

  // .isPending {
  //   color: #717171;
  //   background-color: yellow;
  //   &:hover {
  //     opacity: 0.8;
  //   }
  // }
}
