$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';



$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;
$font-grey: #757575;
$border-color-grey: #e0e0e0;
$outer-border-color: #9e9e9e;
$background-color-grey: #eeeeee;
$dark-background: #222f3e;

$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color: #54a0ff;
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;

$spacing: 2rem;
