@import '../../styles/variables.scss';

.hours__header__myCalendar {
  display: flex;
  border-bottom: solid 2px $outer-border-color;
  .row_header{
    align-items: center;
    padding-left: 8px;
    p{
      height: 20px;
      width: 115px;
      margin: 0;
    }
    border-right:solid 2px $outer-border-color;
  }
  .hour_header{
    display: flex;
    .hour {
      border-right: solid 2px $outer-border-color;
      width: 21.25px;
      font-size: 10px;
      padding: 2px;
    }
  }
  .days__header__myCalendar{
    display: flex;
    .calendar_grid__myCalendar{
      display: flex;
    }
  }
}
.days__header {
  display: flex;
  flex-direction: column;
  .day {
    display: flex;
    border: solid 1px $border-color-grey;
    width: 100px;
    font-size: 1em;
  }
}
.row__header {
  width: 120px;
}

.employee_name {
  width: 60%;
}

.mycalendar_grid {
  display: flex;
  
  border-bottom: 1px $border-color-grey solid;
  span {
    display: inline-block;
    width: 25.18px;
    height: 51px;
    border-left: solid $border-color-grey 1px;
    border-right: solid $border-color-grey 1px;
    border-top: none;
    border-bottom: none;
    &:hover {
      border: solid 1px #3f3f3f;
      
    }
  }
}

.calendar_grid {
  display: flex;
}

body > div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div > div.days__header > div:nth-child(1) > div {
  padding-left: 43px;
}
.calendar_grid__myCalendar{
  display: flex;
  .day_header__myCalendar{
    padding-top: 5px;
    padding-left: 8px;
    width: 92px;
    border-bottom: solid 2px $outer-border-color;
  }
  .wrapper_grid__myCalendar{
    border-bottom: solid 2px $outer-border-color;

  }
}

.entire_employee__grid{
  // position: absolute;
  // left: 2610px;
  
}


.employee_grid {
  display: flex;
  border-bottom: 1px $border-color-grey solid;
  

  span {
    display: inline-block;
    width: 25.17px;
    height: 51px;
    border-left: solid $border-color-grey 1px;
    border-right: solid $border-color-grey 1px;
    border-top: none;
    border-bottom: none;
    &:hover {
      border: solid 1px #3f3f3f;
      cursor: pointer;
    }
  }
  .grid__1{
    border-left: solid 1px $outer-border-color;
  }
  .grid__12{
    border-right: solid 1px $outer-border-color;
  }
  .color {
    background-color: brown;
  }

  .unavailable {
    background-color:#b9baba;
    display: flex;
    justify-content: center;
    &:hover {
      .hide {
        visibility: visible;
      }
      cursor: default;
      border-color: $border-color-grey;
    }
  }

  .hide {
    background-color: #757575;
    border-radius: 3px;
    font-size: 12px;
    padding: 3px;
    margin-top: 54px;
    height: 15px;
    z-index: 3;
    visibility: hidden;
    color: #fafafa;
  }

  .shifts{
    // display: flex;
    // justify-content: center;
    &:hover{
      .events{
        visibility: visible;
      }
    }
    border-color: $border-color-grey;
  }
  .events {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #757575;
    border-radius: 3px;
    font-size: 12px;
    padding: 3px;
    margin-top: 37px;
    right: 15px;
    height: 15px;
    visibility: hidden;
    color: #fafafa;
    width: 50px;
    z-index: 30000;
  }
  
  .grid__badge{
    position: relative;
    background-color: red;
    border-color: red;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 10px;
    margin: -1px 0px 4px 13px;
    height: 10px;
    pointer-events: none;
    top: 0;
    z-index: 0;
  
  }
}