@import  '../../styles/variables.scss';

.settings__secondary_navbar{
  width: 70px;
  display: flex;
  justify-content: flex-end;
}

.myCalendar__secondary_navbar{
  color: $black;
  &:hover {
    cursor: pointer;
    color: #3f51b5;
  }
  width: 100px;
  display: flex;
  justify-content: flex-end;
}