.site-calendar-demo-card {
  width: 300px;
  border: 2px solid #f0f0f0;
  border-radius: 2px;
}
  [data-theme="dark"] .site-calendar-demo-card {
    border: 1px solid #303030;
  }

  .calendar__button{
    display: flex;
    justify-content: center;
  }

*, :after, :before {
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}