@import '../../../styles/variables.scss';
.employee_grid {
  display: flex;
  border-bottom: 1px $border-color-grey solid;
  // margin-left: 143px;
  span {
    display: inline-block;
    width: 22.14px;
    height: 51px;
    border-left: solid $border-color-grey 1px;
    border-right: solid $border-color-grey 1px;
    border-top: none;
    border-bottom: none;
    border-radius: 2px;
    &:hover {
      border: solid 1px #3f3f3f;
      cursor: pointer;
    }
  }
  .color {
    background-color: brown;
  }
  .form__title{
    display: flex;
    align-items: center;;
  }
  
}


