@import '../../../styles/variables.scss';
.employee_row {
  display: flex;
  
  &:hover {
    opacity: 0.7;
  }
  .joke {
    display: flex;
    flex-direction: column;
    img {
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.employee {
  color: #757575;
  background-color: #eeeeee;
  border: solid 1px $outer-border-color;
  border-bottom: solid 1px $border-color-grey;
  border-top: solid 1px $border-color-grey;
  display: flex;
  width: 156px;
  height: 50px;
  font-size: 13px;
  position: fixed;
  z-index: 1;
  .avatar__employee {
    margin: 3px;
    width: 48px;
    border-radius: 50%;
    transform: scale(0.7);
  }

  .name_event__employee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    margin-left: 0;
  }

  .events__employee{
    margin-left: 0;
    font-weight: 300;
    font-size: 9px;
    color: #9e9e9e;
  }
  .hours__employee {
    font-weight: 300;
    font-size: 9px;
    color: #9e9e9e;
  }

  &:hover {
    opacity: 0.5;
  }
  .hour {
    border: solid 1px $border-color-grey;
    min-width: 25px;
    font-size: 20em;
    padding: 3px;
  }
 
}

.employee:first-of-type + .entire_employee__grid{
  margin-left: 158px;
  
}