@import '../../../styles/variables.scss';

.header {
  position: sticky;
  top: 92;
  color: $font-grey;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: $background-color-grey;
  // position: absolute;

  .row__header {
    display: block;
    border: solid 1px $outer-border-color;
    width: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
  }
  .day_date__header {
    padding: 2px 0;
  }
  .day__header {
    display: flex;
  }
  .days__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px $outer-border-color;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
  }
  .hours__header {
    display: flex;
    .hour {
      border: solid 1px $border-color-grey;
      width: 19px;
      font-size: 0.8em;
      padding: 3px;
    }
  }
}
