@import '../../../styles/variables.scss';

.header {
  // position: fixed;
  // z-index: 1;
  color: $font-grey;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: $background-color-grey;
  // position: absolute;

  .row__header {
    display: block;
    border: solid 1px $outer-border-color;
    width: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    position: fixed;
    height: 43px;
    z-index: 2;
    background-color: $background-color-grey;

  }

  .row__header:first-of-type + .day__header{
    margin-left: 158px;
  }
  .day_date__header {
    padding: 2px 0;
  }
  .day__header {
    z-index: 0;
    display: flex;
  }
  .days__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px $outer-border-color;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
  }
  .hours__header {
    display: flex;
    .hour {
      border: solid 1px $border-color-grey;
      width: 19px;
      font-size: 0.8em;
      padding: 3px;
    }
  }
  *, :after, :before {
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
  }
}
