@import '../../styles/variables.scss';

.navbar {
  margin-left: 0;
  background-color: #3f51b5;
  color: #f5f5f5;
  padding: 2px 0;

  .links__navbar {
    display: flex;
    justify-content: space-between;
  }
  .logo__navbar {
    font-family: $font-family;
    margin-left: 27px;
    font-size: 0.8em;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    .icon__navbar {
      font-size: 1em;
    }
  }

  .right_links__navbar {
    display: flex;
    align-items: center;
    padding-right: 27px;
  }

  .link__navbar {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 0.9em;
    padding: 2px;
    &:hover {
      color: #f5f5f5;
      border-radius: 10px;
    }
  }
}
