
@import './styles/variables.scss';

body {
  background-color: #eceff1;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: 14px;
}

.icon {
  padding-right: 3px;
  font-size: 1em;
}
